TMDB - Tests Report
===================
####1. Open project tmdb.xcodeproj (is neceesary XCode version 8.2.1 or later)

####2. In XCode menu access the menu item *View* > *Navigators* > *Show Test Navigator* (you can also press Command + 5).
![Menu Path](images/010_menu.png) 
#####On the left side now is presenting the *Test Navigator*.
![Project Navi](images/020_test_navigator.png)

####3. Choose *Product* > *Test* 
![Test Menu](images/030_menu_test.png)

####4. Analysing the result
Now you have a list with all failed and successful tests. 
The successful tests is marked with a green badge and all failed test is marked with a red badge.
![Test Result](images/040_results.png)
